<h3>Overview</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Editor</h4>
    <p>
      When you're writing code, it's nice to have a text
      editor that is optimized for writing code, with features
      like automatic color-coding of key words.
      The default text editor on Mac OS X and Linux is usually set to Vim,
      which is not famous for being intuitive.
      if you accidentally find yourself stuck in it,
      try typing the escape key,
      followed by ':q!' (colon, lower-case 'q', exclamation mark),
      then hitting Return
      to return to the shell.
    </p>
    <p>
      There are many cross platform options, such as Sublime Text or Atom.
      If you don't have a preference, we recommend 
      <a href="http://komodoide.com/komodo-edit/" target="_blank">Komodo Edit</a> 
      for Python. Komodo Edit is free, although they do sell
      an upgraded version called Komodo IDE.
    </p>
    <h4>The Bash Shell</h4>
    <p>
      Bash is a commonly-used shell. Using a shell gives you
      more power to do more tasks more quickly with your
      computer.
    </p>
    <h4>Mercurial</h4>
    <p>
      Mercurial is a state-of-the-art version control system. It
      lets you track who made changes to what when and has
      options for easily updating a shared or public version of
      your code on <a href="ttps://bitbucket.org">bitbucket.org</a>.
    </p>
  </div>
  <div class="span6">
    <h4>Python</h4>
    <p>
      Python is becoming very popular in scientific computing,
      and it's a great language for teaching general programming concepts due to its easy-to-read syntax.
      We teach with Python the latest version 3.4.x.
    </p>
    <p>
      If you just want to learn Python and aren't interested in NumPy, you can install Python for your system
      directly from <a href="https://python.org/" target="_blank">python.org</a> or use your system Python if it is 3.4 (try running <code>python3</code> on your command line). If your goal is scientific computing, individually installing all the      scientific packages for Python can be a bit difficult,
      so we recommend an all-in-one installer.
    </p>
  </div>
</div>

<h3>Windows</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Python</h4>
    <ul>
      <li>
      	Download and install <a href="http://continuum.io/downloads#py34" target="_blank">Anaconda full installer</a>. Make sure you are downloading the 3.4 version not the 2.7 version.
      </li>
    </ul>
    <h4>Bash and Mercurial</h4>
    <p>
	Download and install <a href="http://cygwin.com/install.html" target="_blank">Cygwin</a>. During the installation process, at the "Choose A Download Site" stage specify the UW mirror: <i>http://mirror.csclub.uwaterloo.ca/cygwin/</i> in the "User URL" box, then click "Add", then select the newly added mirror before clicking "Next". During the "Select Packages" stage search/install the mercurial package located under Python, as well as the nano package located under Editors. In both cases click the "Skip" button to enable installation .
    </p>
  </div>
</div>

<h3>Mac OS X</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Bash</h4>
    <p>
      The default shell in all versions of Mac OS X is bash, so there is no need to install anything extra. You access bash from
      the Terminal (found in <code>/Applications/Utilities</code>). You may want to keep Terminal in your dock for this workshop.
    </p>
    <h4>Mercurial</h4>
    <p>
      Download a binary <a href="http://mercurial.selenic.com/downloads" target="_blank">installer for Mercurial</a> which matches your Mac OS X version.
    </p>
  </div>
  <div class="span6">
    <h4>Python</h4>
    <ul>
      <li>
        Download and install <a href="http://continuum.io/downloads#py34" target="_blank">Anaconda full installer</a>. Make sure you are downloading the 3.4 version not the 2.7 version.
      </li>
    </ul>
  </div>
</div>

<h3>Linux</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Bash</h4>
    <p>
      The default shell is usually <code>bash</code>,
      but if your machine is set up differently
      you can run it by opening a terminal and typing <code>bash</code>.
      There is no need to install anything.
    </p>
    <h4>Mercurial</h4>
    <p>
      If Mercurial is not already available on your machine (type <code>hg</code> in a shell) then install it using your distro's package manager
      (e.g. <code>apt-get install mercurial</code>).
    </p>
    <h4>Editor</h4>
    <p>
	A useful general purpose editor such as <code>gedit</code> should already be installed as part of your Linux distribution.
    </p>
  </div>
  <div class="span6">
    <h4>Python</h4>
    <p>
     Python should be installed on your machine by default, but you will need to install Python packages
     for the numerical part of the workshop.
     Download and install <a href="http://continuum.io/downloads#py34" target="_blank">Anaconda full installer</a>. Make sure you are downloading the 3.4 version not the 2.7 version.
    </p>
  </div>
</div>
